#identity , #identity legend {
    background-color: rgb(37, 116, 169);
}
#delivery , #delivery legend {
    background-color: rgb(154, 18, 179);
}
#paiement , #paiement legend {
    background-color: rgb(219, 10, 91);
}
ul li {
    list-style: none;
}
