.form1 , #fieldtitre1 {
    background-color: rgb(37, 116, 169);
}
.form2 , #fieldtitre2 {
    background-color: rgb(154, 18, 179);
}
.form3 , #fieldtitre3 {
    background-color: rgb(219, 10, 91);
}

